

 .dialog img {
    height: 50px;
    width: 50px;
    padding: 10px;
}

 a {
     text-decoration: none;
     font-weight: 500;
     padding-left: 15px;
     font-family: "Roboto","Helvetica","Arial",sans-serif;
     color: #0066cc;
 }

 .text {
     max-width: 527px;
     border-radius: 10px 10px 0 10px;
     background-color: #0066cc;
     color: #FFFFFF;

     padding: 10px;

 }

 .messageContainer {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
 }
